<!--<div class="form-group <%= "process-shipping-row" %>">
			    <%= f.label :sku, Spree.t(:sku) %>
			    <%= f.text_field :sku, class: 'form-control' %>
			</div>
			<div class="row">
				<div data-hook="bill_address_wrapper" class="col-md-3">
					<div class="form-group <%= "process-shipping-row" %>">
					    <%= f.label :weight, Spree.t(:weight) %>
					    <%= f.text_field :weight, class: 'form-control' %>
					</div>
				</div>
				<div data-hook="bill_address_wrapper" class="col-md-3">
					<div class="form-group <%= "process-shipping-row" %>">
					    <%= f.label :height, Spree.t(:height) %>
					    <%= f.text_field :height, class: 'form-control' %>
					</div>
				</div>
			</div>
			<div class="row">
				<div data-hook="bill_address_wrapper" class="col-md-3">
					<div class="form-group <%= "process-shipping-row" %>">
					    <%= f.label :width, Spree.t(:width) %>
					    <%= f.text_field :width, class: 'form-control' %>
					</div>
				</div>
				<div data-hook="bill_address_wrapper" class="col-md-3">
					<div class="form-group <%= "process-shipping-row" %>">
					    <%= f.label :height, Spree.t(:height) %>
					    <%= f.text_field :height, class: 'form-control' %>
					</div>
				</div>
			</div> -->

